body {
    background-color: #f8d7da; /* Fundo claro */
}
header {
    background-color: #c82333; /* Vermelho escuro */
}
footer {
    background-color: #bd2131; /* Vermelho escuro mais forte */
}
table {
    border-radius: 0.5rem; /* Bordas arredondadas na tabela */
    overflow: hidden; /* Para aplicar o efeito de borda arredondada */
    border-color: rgb(255, 0, 93);
}
th {
    background-color: #dc3545; /* Vermelho mais claro para cabeçalhos */
    color: white;
}
tbody tr:hover {
    background-color: #f5c6cb; /* Efeito hover nas linhas */
}