body {
    background-color: #e9f7ef; /* Fundo claro */
}
header {
    background-color: #106524; /* Verde escuro */
}
footer {
    background-color: #011004; /* Verde escuro mais forte */
}
table {
    border-radius: 0.5rem; /* Bordas arredondadas na tabela */
    overflow: hidden; /* Para aplicar o efeito de borda arredondada */
}
th {
    background-color: #34d058; /* Verde mais claro para cabeçalhos */
    color: white;
}
tbody tr:hover {
    background-color: #c3e6cb; /* Efeito hover nas linhas */
}